<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="classes" name="Suite">
	<listeners>
		<listener class-name="com.empire.qa.extentreport.ExtentReportTest"></listener>
	</listeners>
	<test thread-count="2" parallel="classes" name="Test">
		<classes>
		<class name="com.empire.qa.testcases.LoginPageTest" />
		<!--<class name="com.empire.qa.testcases.UserTypesPageTest" />
			<class name="com.empire.qa.testcases.ConditionTypesPageTest" />
			<class name="com.empire.qa.testcases.InventoryStatusPageTest" />
			<class name="com.empire.qa.testcases.HolidaysPageTest" />
			<class name="com.empire.qa.testcases.SubCategoriesPageTest" />
			<class name="com.empire.qa.testcases.ShiftsPageTest" />
			<class name="com.empire.qa.testcases.CategoryTypesPageTest" />
			<class name="com.empire.qa.testcases.HomePageTest" />
			<class name="com.empire.qa.testcases.AddInventoryTest" />
			<class name="com.empire.qa.testcases.LocationTypesPageTest" />
			<class name="com.empire.qa.testcases.MrpFactorsPageTest" />
			 -->
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
